.entity-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
}

.monster-item {
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.player-item {
    background-color: lightcoral;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
