@page "/entitydetail/{CharacterId:int}"
@using Maze_Manual_NS.Services
@using Maze_Manual_NS.models
@inject ICharacterService CharacterService

@if (monster == null)
{
    <p>Error</p>
}
else
{
    <p>@monster.Name</p>
    <p>Health: @monster.Health</p>
    <p>Damage: @monster.BaseDam</p>
    <br/>
    <img src="@monster.ImgURL"/>
}




@code
{
    [Parameter] 
    public int CharacterId { get; set; }

    private Monster monster { get; set; }

    protected override void OnInitialized()
    {
        monster = CharacterService.Monsters.FirstOrDefault(m => m.CharacterId == CharacterId);
    }
}
